<h2 id="getting-started">Lịch sử thực thi chuyển dỗi SQL - API</h2>
<p>Trang này chứa thông tin lịch sử chuyển đổi mã tạo cơ sở dữ liệu của bạn thành các API tương ứng</p>
<div>
  <c-card class="mb-4">
    <c-card-header>
      <div [align]="'right'">
        <button cButton color="primary" (click)="this.onConvert()">Chuyển đổi</button>
      </div>
    </c-card-header>
    <c-card-body>
      <pre><code [highlight]="'console.log(`hello`)'"></code></pre>
    </c-card-body>
  </c-card>
