<h2 id="getting-started">Danh sách Tài khoản trong hệ thống</h2>
<p>Danh sách tài khoản này bao gồm các tài khoản người dùng đăng ký và tài khoản được người quản trị
  tạo - lưu ý khi tương tác</p>
<div>
  <c-row class="fade show">
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>
          <div [align]="'right'">
          </div>
        </c-card-header>
        <c-card-body>
          <table *ngIf="this.list$ | async as viewModel; else showNotFoundContent" [hover]="true" [responsive]="true"
            [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <th class="text-center">
                  <!-- <svg cIcon name="cilCaretBottom"></svg> -->
                </th>
                <th>Tên tài khoản</th>
                <th>Lịch sử thay đổi</th>
                <th></th>
                <th class="text-center">Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of viewModel.data; index as i" style="cursor: pointer;"
                (click)="this.onUpdate(account)">
                <td class="text-center">
                  {{ i + 1 }}
                </td>
                <td>
                  <div><strong>{{ account.username }}</strong></div>
                  <div class="small text-medium-emphasis text-nowrap">
                  </div>
                </td>
                <td>
                  <div class="small text-medium-emphasis">Ngày tạo</div>
                  <div class="fw-semibold text-nowrap">{{ account.created_at | date:"hh:mm MM/dd/yyyy" : "UTC" }}</div>
                </td>

                <td>
                  <div class="small text-medium-emphasis">Cập nhật lần cuối</div>
                  <div class="fw-semibold text-nowrap">{{ account.updated_at | date:"hh:mm MM/dd/yyyy" : "UTC" }}</div>
                </td>
                <td class="text-center">
                  <c-badge *ngIf="account.enable" color="success" shape="rounded-pill">Đang hoạt động</c-badge>
                  <c-badge *ngIf="!account.enable" color="dark" shape="rounded-pill">Đang bị khóa</c-badge>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #showNotFoundContent>
            <app-waiting-to-load [show]="true"></app-waiting-to-load>
          </ng-template>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
