<c-modal-header>
  <h5 cModalTitle>{{ formInfo.title }}</h5>
</c-modal-header>
<c-modal-body>
  <c-alert color="danger" *ngIf="error"
    >Đã có lỗi xảy ra khi lưu thông tin, vui lòng kiểm tra lại các trường dữ
    liệu và thử lại</c-alert
  >
  <form
    *ngIf="this.dynamicForm"
    cForm
    [formGroup]="dynamicForm"
    (ngSubmit)="onSubmit()"
  >
    <div *ngFor="let field of this.formInfo.fields">
      <label *ngIf="field.fieldId !== 'id'" cLabel>{{
        field.displayText
      }}</label>
      <input
        *ngIf="field.fieldId !== 'id'"
        cFormControl
        [type]="field.inputUI"
        [placeholder]="field.displayText"
        [formControlName]="field.fieldId"
      />
    </div>
  </form>
</c-modal-body>
<c-modal-footer>
  <button cButton color="secondary" (click)="onClose()">Thoát</button>
  <button cButton color="primary" type="submit" (click)="this.onSubmit()">
    Lưu thay đổi
  </button>
</c-modal-footer>
