<c-modal-header>
  <h5 cModalTitle>{{ jsonData.title }}</h5>
</c-modal-header>
<c-modal-body>
 
  <form cForm #genForm="ngForm" (ngSubmit)="getValues(genForm.value)">
    <div *ngFor="let field of jsonData.fields">
  <label>{{ field.displaytext }}</label>
 
  <div [ngSwitch]="field.inputUi">
    <input *ngSwitchCase="'input'" ngModel [name]="field.name" type="text" class="form-control" [required]="!field.required">
    <div>{{getErrorMessage(field.name)}}</div>
    </div>
</div>
<br>
<input cButton color="primary" type="submit" value="Submit form">
</form>
</c-modal-body>
<c-modal-footer>
  <button cButton color="secondary"  >Thoát</button>
  <button cButton color="primary" type="submit"  >
    Lưu thay đổi
  </button>
</c-modal-footer>
