<c-modal-header>
  <h5 cModalTitle>Cập nhật API {{ this.api.api_path}}</h5>
</c-modal-header>
<c-modal-body>
  <form [formGroup]="this.updateApiForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <c-col [md]="12">
        <label cLabel for="accessScope"><strong>1. Phạm vi truy cập:</strong></label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="public" value="public" formControlName="accessScope">
          <label class="form-check-label" for="public">Public <i>(Không cần đăng nhập vẫn truy cập được)</i></label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="private" value="private" formControlName="accessScope">
          <label class="form-check-label" for="private">Private <i>(Cần đăng nhập mới truy cập được)</i></label>
        </div>
      </c-col>
      <c-col [md]="12">
        <label cLabel for="isActive"><strong>2. Trạng thái hoạt động:</strong></label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="isActive" formControlName="isActive">
          <label class="form-check-label" for="isActive">
            {{this.updateApiForm.get('isActive')?.value == true ? 'Đang hoạt động': 'Dừng hoạt động'}}</label>
        </div>
      </c-col>

      <c-col [md]="this.api?.api_authorized?.columns && this.api?.api_authorized?.modify ? 6:12"
        *ngIf="this.api?.api_authorized?.columns">
        <label cLabel for="colums"><strong>3. Cài đặt các trường hiển thị:</strong></label>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <!-- <svg cIcon name="cilCaretBottom"></svg> -->
              </th>
              <th>Tên cột</th>
              <th class="text-center">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let column of this.api?.api_authorized?.columns; index as i" (click)="this.onClickRow(column)"
              style="cursor: pointer;">
              <td class="text-center">
                {{ i + 1 }}
              </td>
              <td>
                <div><strong>{{ column?.columnName ?? '_' }}</strong> </div>
              </td>
              <td class="text-center">
                <c-badge *ngIf="this.checkBoxHelper.checkedThisItem(column)" color="info">Hiện</c-badge>
                <c-badge *ngIf="!this.checkBoxHelper.checkedThisItem(column)" color="dark">Ẩn</c-badge>
              </td>
          </tbody>
        </table>
      </c-col>

      <c-col [md]="this.api?.api_authorized?.columns && this.api?.api_authorized?.modify ? 6:12" *ngIf="this.api?.api_authorized?.modify">
        <label cLabel for="colums"><strong>4. Cài đặt các trường cho phép sửa đỗi:</strong></label>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <!-- <svg cIcon name="cilCaretBottom"></svg> -->
              </th>
              <th>Tên cột</th>
              <th class="text-center">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let column of this.api?.api_authorized?.modify; index as i"
              (click)="this.onClickModifyRow(column)" style="cursor: pointer;">
              <td class="text-center">
                {{ i + 1 }}
              </td>
              <td>
                <div><strong>{{ column?.columnName ?? '_' }}</strong> </div>
              </td>
              <td class="text-center">
                <c-badge *ngIf="this.allowModifyColumns.checkedThisItem(column)" color="info">Cho phép</c-badge>
                <c-badge *ngIf="!this.allowModifyColumns.checkedThisItem(column)" color="dark">Không cho phép</c-badge>
              </td>
          </tbody>
        </table>
      </c-col>
    </div>
  </form>
</c-modal-body>

<c-modal-footer>
  <button cButton color="secondary" (click)="onClose()">Thoát</button>
  <button cButton color="primary" type="submit" [disabled]="this.updateApiForm.invalid" (click)="this.onSubmit()">Lưu
    thay đổi</button>
</c-modal-footer>
