<c-card>
  <c-card-header>
    <div class="row d-flex justify-content-between">
      <div class="col-md-6">
        
      </div>
      <div class="col-auto">
        <button cButton color="primary" (click)="onCreate()">
         Create
        </button>
        <button cButton color="primary" (click)="update()">
          Update
         </button>
      </div>
    </div>
  </c-card-header>
  <table cTable hover>
    <thead>
      <tr>
        <th *ngFor="let column of tableStructure.columns">{{ column.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td *ngFor="let column of tableStructure.columns">{{ row[column.field] }}</td>
      </tr>
    </tbody>
  </table>
</c-card>

<!-- <app-table></app-table> -->
