<h2 id="getting-started">Truy vấn nhanh dữ liệu thông qua BOT(llm)</h2>
<c-callout color="primary">
  <div class="mb-3">
    <label>Các bảng hiện có trong hệ thống:</label>
    <div class="mr-1 col-md-8" *ngIf="this.listTableName$ | async as viewModel">
      <c-badge color="dark" style="cursor: pointer; margin: 2px;" *ngFor="let item of viewModel.data">
        {{ item.table_name }}
      </c-badge>
    </div>
  </div>
  <div class="mb-3">
    <label>Một số câu hỏi bạn có thể thử:</label> <br>
    <c-badge color="info" style="cursor: pointer; margin: 2px;">
      How many tables are there in my system with the scope of 'public'?
    </c-badge> <br>
    <c-badge color="info" style="cursor: pointer; margin: 2px;">
      How many record are there in table "table name"?
    </c-badge>
  </div>
</c-callout>


<div [cFormFloating]="true" [formGroup]="form" class="mb-3" (keyup.enter)="onSubmit()">
  <input cFormControl formControlName="floatingInput" id="floatingInput" placeholder="How many account in my system?"
    type="email" />
  <label cLabel for="floatingInput">Đặt câu hỏi về dữ liệu cho Bot nhé! Nhập tiếng anh để có kết quả chính
    xác hơn</label>
</div>

<c-card>
  <span class="m-3" *ngIf="outputMessage && !this.waitingToLoad">
    Kết quả mà tôi tìm thấy là:
    <c-badge color="success" style="cursor: pointer;" *ngIf="!this.isError" (click)="onSaveToApi()">Lưu thành
      API</c-badge>
    <pre><code [highlight]="outputMessage"></code></pre>
  </span>
  <div *ngIf="this.waitingToLoad" class="fade show"
    style="text-align: center; padding-top: calc(100vh / 10); height: 25vh">
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Hệ thống truy vấn dữ liệu theo yêu cầu - vui lòng chờ trong giây lát...</span>
  </div>
</c-card>
