<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="form">
                <h1>Kết nối</h1>
                <p class="text-medium-emphasis">Vui lòng điền tên miền api của bạn cùng với khóa bí mật để
                  đăng nhập</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilHome"></svg>
                  </span>
                  <input formControlName="domain" autoComplete="domain" cFormControl
                    placeholder="http://localhost:3000" />
                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input formControlName="secretKey" autoComplete="current-password" cFormControl
                    placeholder="Secret-key" type="password" />
                  <div *ngIf="this.errorMessage" class="text-danger">
                    {{ this.errorMessage}}
                  </div>
                </c-input-group>

                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" (click)="submitForm()">
                      Kết nối
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                    <a href="https://github.com/khaphan-github/compose_no_code/tree/master/api-gen-no-code"> Xem hướng dẫn tại dây</a>
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Hướng dẫn kết nối</h2>
                <p>
                  Bạn điền khóa bí mật để kết nối với Backend tại file <strong>.env</strong> với khóa là
                  <strong>SERVER_SECRET_KEY</strong>
                </p>
                <p>Đường dẫn source code <a style="color: white;"
                    href="https://github.com/khaphan-github/compose_no_code/blob/master/api-gen-no-code/.env">Github</a>
                </p>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
