<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="form">
                <h1>Kết nối</h1>
                <p class="text-medium-emphasis">Vui lòng điền tên miền api của bạn cùng với khóa bí mật để
                  đăng nhập</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilHome"></svg>
                  </span>
                  <input formControlName="domain" autoComplete="domain" cFormControl
                    placeholder="http://localhost:3000" />
                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input formControlName="secretKey" autoComplete="current-password" cFormControl
                    placeholder="Secret-key" type="password" />
                  <div *ngIf="this.errorMessage" class="text-danger">
                    {{ this.errorMessage}}
                  </div>
                </c-input-group>

                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" (click)="submitForm()">
                      Kết nối
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Xem hướng dẫn tại dây
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
