<c-card>
  <c-card-header>
    <div class="row d-flex justify-content-between">
      <div class="col-md-6">
        <h4> Danh sách APIs đã chuyển đỗi</h4>
      </div>
    </div>
  </c-card-header>
  <c-card-body>
    <div>
      <table *ngIf="this.list$ | async as viewModel; else showNotFoundContent" [hover]="true" [responsive]="true"
        [striped]="true" align="middle" cTable class="mb-0 border">
        <app-not-found *ngIf="viewModel.status !== 200 || viewModel.data.length === 0 "></app-not-found>

        <thead cTableColor="light" *ngIf="viewModel.status === 200 && viewModel.data.length !== 0 ">
          <tr>
            <th class="text-center">
              <!-- <svg cIcon name="cilCaretBottom"></svg> -->
            </th>
            <th>Đường dẫn</th>
            <th>Phạm vi</th>
            <th class="text-left">Bảng</th>
            <th>Lịch sử thay đổi</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              {{ 1 }}
            </td>
            <td>
              <div><strong>{{ '/api/v1/login' }}</strong> </div>
              <div class="small text-medium-emphasis text-nowrap">
                <span>
                  Phương thức: <strong>{{ 'POST' }}</strong> | Hành động: <strong>{{ 'QUERY'}}</strong>
                  <!-- {{ api.state }} | Registered: {{ api.registered }} -->
                </span>
              </div>
            </td>
            <td>
              <c-badge color="success" shape="rounded-pill"><svg cIcon name="cilCheck" size="sm"
                  title="l"></svg>Public</c-badge>
            </td>
            <td class="text-left">
              <div class="small text-medium-emphasis">Schema: public</div>
              <div class="fw-semibold text-nowrap">public.{{ '_core_account' }}</div>
            </td>
            <td>
              <div class="small text-medium-emphasis">Cập nhật lần cuối</div>
              <div class="fw-semibold text-nowrap">_</div>
            </td>
            <td class="text-center">
              <c-badge color="success" shape="rounded-pill">Đang hoạt động</c-badge>
            </td>
            <td class="text-center">
              <c-dropdown alignment="end" variant="btn-group">
                <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
                  <svg cIcon class="text-high-emphasis" name="cilOptions"></svg>
                </button>
                <ul cDropdownMenu>
                  <li><a cDropdownItem>Xem hướng dẫn</a></li>
                  <li><a cDropdownItem>Cập nhật thông tin</a></li>
                </ul>
              </c-dropdown>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              {{ 2 }}
            </td>
            <td>
              <div><strong>{{ '/api/v1/register' }}</strong> </div>
              <div class="small text-medium-emphasis text-nowrap">
                <span>
                  Phương thức: <strong>{{ 'POST' }}</strong> | Hành động: <strong>{{ 'INSERT'}}</strong>
                  <!-- {{ api.state }} | Registered: {{ api.registered }} -->
                </span>
              </div>
            </td>
            <td>
              <c-badge color="success" shape="rounded-pill"><svg cIcon name="cilCheck" size="sm"
                  title="l"></svg>Public</c-badge>
            </td>
            <td class="text-left">
              <div class="small text-medium-emphasis">Schema: public</div>
              <div class="fw-semibold text-nowrap">public.{{ '_core_account' }}</div>
            </td>
            <td>
              <div class="small text-medium-emphasis">Cập nhật lần cuối</div>
              <div class="fw-semibold text-nowrap">_</div>
            </td>
            <td class="text-center">
              <c-badge color="success" shape="rounded-pill">Đang hoạt động</c-badge>
            </td>
            <td class="text-center">
              <c-dropdown alignment="end" variant="btn-group">
                <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
                  <svg cIcon class="text-high-emphasis" name="cilOptions"></svg>
                </button>
                <ul cDropdownMenu>
                  <li><a cDropdownItem>Xem hướng dẫn</a></li>
                  <li><a cDropdownItem>Cập nhật thông tin</a></li>
                </ul>
              </c-dropdown>
            </td>
          </tr>

          <tr *ngFor="let api of viewModel.data; index as i" style="cursor: pointer;">
            <td class="text-center">
              {{ i + 1 + 2 }}
            </td>

            <td>
              <div><strong>{{ api.api_path }}</strong> </div>
              <div class="small text-medium-emphasis text-nowrap">
                <span>
                  Phương thức: <strong>{{ api.http_method }}</strong> | Hành động: <strong>{{
                    api.action}}</strong>
                  <!-- {{ api.state }} | Registered: {{ api.registered }} -->
                </span>
              </div>
            </td>
            <td>
              <c-badge *ngIf="api.authentication == 'NEED_AUTH'" color="dark" shape="rounded-pill"><svg cIcon
                  name="cilLockLocked" size="sm" title="l"></svg>Private</c-badge>
              <c-badge *ngIf="api.authentication !== 'NEED_AUTH'" color="success" shape="rounded-pill"><svg cIcon
                  name="cilCheck" size="sm" title="l"></svg>Public</c-badge>
            </td>
            <td class="text-left">
              <div class="small text-medium-emphasis">Schema: public</div>
              <div class="fw-semibold text-nowrap">public.{{ api.table_name }}</div>
            </td>
            <!-- <td>
            <div class="small text-medium-emphasis">Ngày tạo</div>
            <div class="fw-semibold text-nowrap">{{ api.created_at | date:"hh:mm MM/dd/yyyy" : "UTC" }}</div>
          </td> -->

            <td>
              <div class="small text-medium-emphasis">Cập nhật lần cuối</div>
              <div class="fw-semibold text-nowrap">{{ api.updated_at | date:"hh:mm MM/dd/yyyy" : "UTC" }}</div>
            </td>
            <td class="text-center">
              <c-badge *ngIf="api.enable" color="success" shape="rounded-pill">Đang hoạt động</c-badge>
              <c-badge *ngIf="!api.enable" color="dark" shape="rounded-pill">Dừng hoạt động</c-badge>
            </td>
            <td class="text-center">
              <c-dropdown alignment="end" variant="btn-group">
                <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
                  <svg cIcon class="text-high-emphasis" name="cilOptions"></svg>
                </button>
                <ul cDropdownMenu>
                  <li (click)="this.onViewDocs(api)"><a cDropdownItem>Xem hướng dẫn</a></li>
                  <li (click)="this.onUpdateApi(api)"><a cDropdownItem>Cập nhật thông tin</a></li>
                </ul>
              </c-dropdown>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #showNotFoundContent>
        <app-waiting-to-load [show]="true"></app-waiting-to-load>
      </ng-template>
    </div>
  </c-card-body>
</c-card>
